body {
    max-width: 1000px;
    margin: 0 auto;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #222;
    padding: 10px;
}

nav a {
    color: white;
    padding: 10px;
    display: block;
}

main {
    max-width: 840px;
    padding: 20px;
}

h1 {
    color: white;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid #333;
    padding: 5px;
    box-shadow: 0 0 10px #777;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

p {
    padding: 0;
    line-height: 1.6;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}